<ion-header>
  <ion-toolbar color="azulmarinho">

      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>

    <ion-title>Dados do Filme</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-card *ngIf="filme">
    <ion-card-header>
      <img *ngIf="filme.poster_path"
           src="https://www.themoviedb.org/t/p/w500/{{filme.poster_path}}"
           />
           <ion-icon *ngIf="!filme.poster_path" name="videocam-off"></ion-icon>
    </ion-card-header>

    <ion-card-content>
      <h1>{{filme.title}} -
        <ion-chip color="primary">{{filme.vote_average}}%</ion-chip></h1>
      <p>{{filme.release_date | date: 'shortDate'}}</p>
    </ion-card-content>


    <!--
      Deu problema na tradução do genero de id para a representação nominal desse id.
      Portanto, para manter o aplicativo visivel,
      mantive, por hora, apenas a apresentação do id do genero
    -->
    <ion-item>
      <ion-badge color="light" *ngFor="let genero of filme.genre_ids">{{genero}}</ion-badge>
    </ion-item>


  </ion-card>

</ion-content>
