h1
{
  font-weight: bold;
  color: black
}

ion-title{
  font-weight: bold;
  color: white;
}



ion-list{
  padding: 0%;
}

ion-item{

  --padding-start: 10px;
  --inner-padding-end: 10px;

  ion-thumbnail{
    height: 100%;
    margin-inline-end: 10px;

    ion-icon{
      font-size: 40px;
    }
  }
  div{
    h1{
      color: white;
      font-weight: bold;
      font-size: 0.9rem;
    }

    p{
      font-size: 0.6rem;
    }

    p+p{
      color: #8a8a8a;
    }

  }

  ion-chip{
    padding-inline: 0.8px;

  }

  ion-badge{
    font-weight: 300;
    font-size: 0.6rem;
    margin-right: 3px;
  }

}


