<ion-header [translucent]="true">
  <ion-toolbar color="azulmarinho">
    <ion-title>
      {{titulo}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">

  <ion-searchbar (ionChange)="buscarFilmes($event)" showCancelButton="focus" placeholder="Search" color="light">

  </ion-searchbar>


  <ion-list *ngIf="listaFilmes">

    <ion-item color="dark" lines="none" *ngIf="listaFilmes.results.length === 0">
      <ion-label class="ion-text-center">
        Sem resultados...
      </ion-label>
    </ion-item>


    <ion-item-sliding *ngFor="let filme of listaFilmes.results">

      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="AlertaDescurtirFilme()">
          <ion-icon slot="icon-only" name="heart-dislike-outline"></ion-icon>

        </ion-item-option>
      </ion-item-options>

      <ion-item color="dark" lines="full" (click)="exibirFilme(filme)">
        <ion-thumbnail slot="start">
          <img *ngIf="filme.poster_path"
           src="https://www.themoviedb.org/t/p/w500/{{filme.poster_path}}"
           />
           <ion-icon *ngIf="!filme.poster_path" name="videocam-off"></ion-icon>
        </ion-thumbnail>
        <ion-label>
          <div class="ion-text-wrap">
            <h1>{{filme.title}}</h1>
            <p>{{filme.release_date}}</p>
            <ion-badge color="cinza" *ngFor="let genero of filme.genre_ids"> {{genero}} </ion-badge>

          </div>
        </ion-label>

        <ion-chip [color]="filme.vote_average! < 5 ? 'danger' : (filme.vote_average! < 7) ? 'warning' : 'success'" outline >
          <ion-label >{{filme.vote_average}}%</ion-label>
        </ion-chip>

      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="success" (click)="AlertaCurtirFilme()">
          <ion-icon slot="icon-only" name="heart-outline" color="dark"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>




  </ion-list>


</ion-content>
