<ion-header [translucent]="true">
  <ion-toolbar color="azulmarinho">
    <ion-title>
      {{titulo}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">

  <ion-searchbar showCancelButton="focus" placeholder="Search" color="light">

  </ion-searchbar>


  <ion-list>


    <ion-item-sliding *ngFor="let filme of listaFilmes">

      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="AlertaDescurtirFilme()">
          <ion-icon slot="icon-only" name="heart-dislike-outline"></ion-icon>

        </ion-item-option>
      </ion-item-options>

      <ion-item color="dark" lines="full" (click)="exibirFilme(filme)">
        <ion-thumbnail slot="start">
          <img [src]="filme.poster" />
        </ion-thumbnail>
        <ion-label>
          <div class="ion-text-wrap">
            <h1>{{filme.nome}}</h1>
            <p>{{filme.lancamento}} {{filme.duracao}}</p>
            <ion-badge color="cinza" *ngFor="let genero of filme.generos"> {{genero}} </ion-badge>

          </div>
        </ion-label>

        <ion-chip color="primary" outline>
          <ion-label >{{filme.classificacao}}%</ion-label>
        </ion-chip>

      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="success" (click)="AlertaCurtirFilme()">
          <ion-icon slot="icon-only" name="heart-outline" color="dark"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>




  </ion-list>


</ion-content>
