<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <div id="div_ImagemLogo" class="container_logo">
    <img src="https://github.com/MatheusPxt21/MatheusPxt21/blob/main/Logo.png?raw=true" alt="">
  </div>

  <div id="div_texto" class="container_texto">
    <h1>Matheus Peixoto</h1>
    <p>Estudante de Ciência da Computação</p>
    <p>Universidade Federal de Viçosa</p>
  </div>


  <div id="div_Contate-me" class="container_contato">
    <p><ion-icon name="logo-whatsapp"></ion-icon>   (xx)xxxxx-xxxx </p>
    <p><ion-icon name="logo-instagram"></ion-icon>  matheus_n_pxt </p>

  </div>


</ion-content>
